$main-color: #ffffff;
$button-color: #ff4e50;
$plot-color: #f7f3f2;
$title-font: "Montserrat";
$plot-text-color: #e3e3e3;
$chapter-color: #444444;
$plot-font: "Roboto";
$plot_2-color: #666666;
$footer_chapter-color: #444444;
$footer_plot-color: #999999;
